.delete-selected-btn {
  background-color: #d32f2f !important;
  text-transform: none !important;
}

.delete-selected-btn:disabled {
  background: #9e9e9e !important;
  cursor: not-allowed !important;
  opacity: 0.7 !important;
}

.edit-selected-btn {
  background: #ffc107;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease;
}

.edit-selected-btn:disabled {
  background: #ffe8a1;
  cursor: not-allowed;
}