.btn {
  text-transform: none !important;
  color: var(--text-white) !important;
}

.btn:hover:not(:disabled) {
  background-color: white !important;
}

.add-selected-btn {
  background-color: var(--midnight-blue) !important;
}

.add-selected-btn:hover:not(:disabled) {
  color: var(--midnight-blue) !important;
}

.delete-selected-btn {
  background-color: var(--danger-red) !important;
}

.delete-selected-btn:hover:not(:disabled) {
  color: var(--danger-red) !important;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.edit-selected-btn {
  background: var(--warning-main) !important;
}

.edit-selected-btn:hover:not(:disabled) {
  color: var(--warning-text) !important;
}

.edit-selected-btn:disabled {
  background: var(--warning-bg);
  cursor: not-allowed;
}

.assign-selected-btn {
  background: var(--success-main) !important;
}

.assign-selected-btn:hover:not(:disabled) {
  color: var(--success-main) !important;
}

.assign-selected-btn:disabled {
  background: #9e9e9e;
  cursor: not-allowed;
}