.btn {
  text-transform: none !important;
  color: white !important;
}

.btn:hover:not(:disabled) {
  background-color: white !important;
}

.add-selected-btn {
  background-color: rgb(26, 26, 107) !important;
}

.add-selected-btn:hover:not(:disabled) {
  color: rgb(26, 26, 107) !important;
}

.delete-selected-btn {
  background-color: #d32f2f !important;
}

.delete-selected-btn:hover:not(:disabled) {
  color: #d32f2f !important;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.edit-selected-btn {
  background: #b98a07 !important;
}

.edit-selected-btn:hover:not(:disabled) {
  color: #ce9803f9 !important;
}

.edit-selected-btn:disabled {
  background: #ffe8a1;
  cursor: not-allowed;
}

.assign-selected-btn {
  background: #077f23 !important;
}

.assign-selected-btn:hover:not(:disabled) {
  color: #077f23 !important;
}

.assign-selected-btn:disabled {
  background: #9e9e9e;
  cursor: not-allowed;
}
