@import url("../../shared/styles/variables.css");
.modal-overlay {
  position: fixed;
  inset: 0;

  /* Dark gray overlay */
  background: var(--modal-overlay);

  /* Blur background behind */
  backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}


.modal-content {
  width: 100%;
  max-width: 550px;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
  backdrop-filter: blur(20px);
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 22px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid var(--border-color);
}

.modal-header h2 {
  margin: 0;
  color: var(--heading-color);
  font-size: 24px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid var(--border-color);
}

.page-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 10px;
  gap: 10px;
}

.header-right {
  display: flex;
  gap: 15px;
}

.main-page {
  padding: 0;
  max-width: 100%;
  background-color: var(--bg-white);
  border-radius: 5px;
  box-shadow: 0 2px 10px var(--shadow-color);
}