
.add-author-btn {
  text-transform: none !important;
  font-weight: 700 !important;
  color: var(--text-white) !important;
  background-color: var(--action-blue) !important;
  border-radius: 10px !important;
  padding: 8px !important;
  border: none !important ;
}

.add-author-btn:hover {
  color: var(--action-blue) !important;
  background-color: var(--bg-white) !important;
  border: 1px solid var(--action-blue) !important;
}
